.clockenstein-empty-label {
    font-size: 1.4em;
}

.clockenstein-alarm-row {
    border-bottom: 1px solid alpha(@borders, 0.65);
}
.clockenstein-alarm-row:hover {
    background-color: alpha(@theme_selected_bg_color, 0.08);
}
.clockenstein-alarm-past {
    opacity: 0.55;
}
.clockenstein-next-alarm {
    color: @theme_selected_bg_color;
    font-size: 2.2em;
    font-weight: 300;
}
.clockenstein-alarm-time {
    color: @theme_selected_bg_color;
    font-size: 2.2em;
    font-weight: 300;
    min-width: 140px;
    font-family: monospace;
}
.clockenstein-alarm-name {
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 3px;
}
.clockenstein-alarm-days {
    font-size: 0.9em;
    min-width: 140px;
    font-family: monospace;
}
.clockenstein-alarm-day-active {
    /*font-weight: bold;*/
}
.clockenstein-alarm-day-inactive {
    opacity: 0.35;
}
.clockenstein-alarm-info {
    color: @insensitive_fg_color;
    font-size: 0.9em;
    min-width: 140px;
    font-family: monospace;
}

.clockenstein-alarm-sound,
.clockenstein-alarm-sound image {
    color: @insensitive_fg_color;
    font-size: 0.9em;
}

.clockenstein-editor-time-info {
    color: @theme_selected_bg_color;
}

.clockenstein-editor-section {
    font-weight: bold;
}
